body {
    position: relative;
}

.logo{

}

.github{
  width: 60%;
  max-width: 30px;
  height: 60%;

}

.linkedin{
  width: 60%;
  max-width: 30px;
  height: 60%;
}

/* sidebar */
.bs-docs-sidebar {
  padding-left: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
  color: #999;
  padding: 4px 20px;
  font-weight: 400;
}

/* Nested links */
.bs-docs-sidebar .nav .nav>li>a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 30px;
}

/* hide all (inactive) nested list */
.bs-docs-sidebar .nav ul.nav {
  display: none;           
}

/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
  display: block;           
}

.bs-docs-sidebar .nav>.active>a {  color: #563d7c; }

/* Custom, iPhone Retina */ 
@media screen and (min-width: 320px) {
    body {
        padding-top: 50px;
    }

    .bs-docs-sidebar{
      display: none;
    }

    .bs-topbar>.navbar-collapse>ul{
      overflow-y: auto;
      max-height: 120px;
    }

/*    .github{
      position: absolute;
      top: 9px;
      right: 65px;
    }

    .linkedin{
      position: absolute;
      top: 9px;
      right: 100px;
    }*/
}

/* Medium Devices, Desktops */
@media screen and (min-width : 768px) {
    body {
        padding-top: 0px;
    }

    .bs-docs-sidebar {
      display: block;
    }

    .bs-topbar{
      display:none;
    }

    .linkedin{
      max-height: 30px;
      position: relative;
      left: 20px;
    }

    .github{
      max-height: 30px;
      position: relative;
      left: 30px;
    }
}